* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Segoe UI";
    line-height: 1.6;
    color: #333;
    background-color: #e7d0fc;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header{
    background-color: #6a3992;
    color: white;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 100;
}
.nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 1rem;
  
}
.menu{
    display: flex;
    gap: 2rem;
    margin-left: 22rem ;
    font-size: 20px;
}
.menu a {
     color: white;
     text-decoration: none;
     transition: color 0.5s;
}
.menu a:hover{
    color: #9974d4
}
.logo {
    font-size: 2.3rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0.7rem;
    margin-left: 29rem;
    
}

/* HERO SECTION */
.hero{
   
    height: 300px;
    background-size: cover;
    background-position: center;
    color:#6a3992;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-content h1{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.hero-content p{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.btn-primary {
    background-color: #74d4bf;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: scale 0.5s;
    margin-top: 1rem;
}
.btn-primary:hover {
    background-color:#6a3992;
    scale: 1.1;
}

/* SEÇÃO DE PRODUTOS */

.produtos{
    padding: 4rem 0;
    background-color: #f9f9f9;
}

.section-title{
    text-align: center;
    font-size: 2,5rem;
    margin-bottom: 3rem;
    color: #1f102c;
    margin-top: 2rem;
}

/* FLEXBOX */
.cards{
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: rgb(234, 228, 255);
    border-radius: 10px;
    border: 5px solid #b8fff0;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    /* Faz com que os elementos aumentem ou diminuam de acordo com o espaço disponível */
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    transition: transform 0,3s;
}

.card-dudu img{
    width: 100%;
    height: 150px;
     object-fit: cover;
}

.card:hover{
    transform: translateY(-7px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.card img{
    width: 100%;
    height: 320px;
    /* Imagem cobre todo espaço disponível */
    object-fit: cover;
}

.card-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-content h3{
    color: #2c1810;
   font-size: 1.5rem;
}

.card-content p{
    color: #666666;
    flex-direction: 1;
}

.price{
    font-size: 1.5rem;
    color: #61bba7;
    font-weight: bold;
}

/* SEÇÃO SOBRE A EMPRESA */
.sobre{
    padding: 4rem 0;
}

.sobre-flex{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.sobre-imagem{
    flex: 1;
}

.sobre-imagem img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.sobre-texto{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sobre-texto h2{
    font-size: 2.5rem;
    color: #2c1810;
}

.sobre-texto p{
    color: #666666;
    font-size: 1.1rem;
}
.beneficios{
    list-style: none;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.beneficios li{
   color: #666666;
    font-size: 1.1rem;
}

/* RODAPÉ - FOOTER */

.footer{
    background-color:#61bba7;
    color:  #6a3992;
    padding: 3rem 0 1rem;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.footer-section{
    flex: 1;
    min-width: 200px;
}

.footer-section h4{
    margin-bottom: 1rem;
    color:  #6a3992;
}

.footer-bottom{
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid  #6a3992;
}